@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  background-color: #ffe6ff;
  max-width: 50em;
  margin: 0 auto;
  padding: 3em 1em;
  line-height: 1.5;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
